{
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "bracketSpacing": false,
    "arrowParens": "always",
    
    //New line for braces (Allman/Stroustrup style)
    "braceStyle": "allman"
}